.sub-menu {
    display: flex;
    justify-content: space-between;
    padding: 1vh 30vh;
    font-size: 2vh;
    border-top: 1px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;

}

.main-menu {
    display: flex;
    justify-content: space-between;
    padding: 2vh 30vh;
    font-size: 3vh;
}

.upper-menu {
    display: flex;
    justify-content: space-between;
    padding: 1vh 30vh;
    font-size: 2vh;
    background-color: #000000;
}

.duo-links a {
    padding: 0vh 1vh;
}