{% extends 'base.html' %}
{% block content %}

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Atma:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/homepage.css">
    </head>

<div class="hero-text">
    <p>Fun-Filled Party Bags in Exeter!</p>
    <p class="hero-text-small">We're a startup based in Exeter, specializing in crafting fun, customized party bags for all occasions. Our mission is to add a little extra joy to your celebrations!</p>
</div>

<div class="row-of-whatever">
    <h3>Seasonal Bags</h3>
    <div class="row-of-categories">
    <div class="category-card"><a href="/product/4">
        <img src="hero-image.jpg" alt="Halloween" width="200" height="200">
        <p>Test</p></a>
    </div>
    <div class="category-card">
        <img src="hero-image.jpg" alt="Christmas" width="200" height="200">
        <p>Christmas</p>
    </div>
    <div class="category-card">
        <img src="hero-image.jpg" alt="Easter" width="200" height="200">
        <p>Easter</p>
    </div>
    </div>
</div>

<div class="row-of-whatever">
    <h3>Seasonal Bags</h3>
    <div class="row-of-categories">
    <div class="category-card"><a href="/product">
        <img src="hero-image.jpg" alt="Halloween" width="200" height="200">
        <p>Halloween</p></a>
    </div>
    <div class="category-card">
        <img src="hero-image.jpg" alt="Christmas" width="200" height="200">
        <p>Christmas</p>
    </div>
    <div class="category-card">
        <img src="hero-image.jpg" alt="Easter" width="200" height="200">
        <p>Easter</p>
    </div>
    </div>
</div>

{% endblock %}