{% extends 'base.html' %}
{% block content %}

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Atma:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/product.css">
</head>

<div class="product">
    <div class="product-hero">
        <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}" width="400" height="400">
        
        <div class="product-images">
            <img src="{{ product.image }}" alt="Small {{ product.name }}" width="100" height="100">
            <img style="margin-inline: 1vh;" src="{{ product.image }}" alt="Small {{ product.name }}" width="100" height="100">
            <img src="{{ product.image }}" alt="Small {{ product.name }}" width="100" height="100">
        </div>
    </div>
    <div>
        <h3>{{ product.name }}</h3>
        
        <p>
            Includes:
            {{ product.description }}
        </p>

        <p>£{{ product.price }}</p>
        
        {% if product.stock %}
            <p>In stock</p>
        {% else %}
            <p>Out of stock</p>
        {% endif %}

        <button>Add to cart</button>
    </div>
</div>

{% endblock %}
